//INDEX
// 202 - FONTS

// 201 - FONT FAMILIES
$head: "Fjalla One", sans-serif;
$par: "Inter", sans-serif;
$spec: "Racing Sans One", sans-serif;
$hand: "Permanent Marker", cursive;

@mixin initials() {
    box-sizing:border-box;
    border: none;
    outline: none;
    text-decoration:none;
    margin:0px;
    padding:0px;
    list-style-type:none;
}

@mixin tri() {
    clip-path:polygon(50% 0%, 100% 100%, 0% 100%);
}

@mixin font($fam: $par, $color: #333, $size: 15px, $weight: 500, $kern: .01em, $lh:20px, $style: normal, $trans: none, $shadow: none, $align: left ) {
    color: $color;
    font-family: $fam;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-size: $size;
    font-style: $style;
    // line-height:$lh;
    letter-spacing: $kern;
    text-transform: $trans;
    text-shadow: $shadow;
    text-align: $align;
}

@mixin size($w: auto, $h: auto, $minW: 0, $maxW: auto, $minH: auto, $maxH: auto ) {
    width: $w;
    height: $h;
    min-width: $minW;
    max-width: $maxW;
    min-height: $minH;
    max-height: $maxH;
}

@mixin gridFill($col: 1fr 1fr, $row: none, $gap: 0px) {
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    gap: $gap;
}

@mixin flex( $dis:flex, $dir: row, $wrap: nowrap, $align: stretch, $just: start, $gap: 0 ) {
    display: $dis;
    flex-direction: $dir;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $just;
    gap: $gap;
}

@mixin flx($dir: row, $wrap: nowrap, $align: stretch, $just: start, $gap: 0 ) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $just;
    gap: $gap;
}

@mixin pos($pos: relative, $top: none, $left: none, $bottom: none, $right: none, $trans: none ) {
    position: $pos;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    transform: $trans;
}

@mixin cent() {
    position:absolute;
    top:50%;
    left:50%;
    tranform:translate(-50%, -50%);
}
@mixin rel() {
    position:relative;
}

@mixin back($color: transparent, $img: none, $size: contain, $pos: 0px 0px, $rep: no-repeat, $blur: none) {
    background: $color;
    background-image: url($img);
    background-size: $size;
    background-position: $pos;
    background-repeat: $rep;
    backdrop-filter: blur($blur);
}

@mixin pad($t:0px, $r:0px, $b:0px, $l:0px) {
    padding:$t $r $b $l;
}

@mixin backColor($color: transparent) {
    background: $color;
}

@mixin inpCaret($color: #000000, $animation: revert, $shape: bar ) {
    caret-color: $color;
    caret-animation: $animation;
    caret-shape: $shape;
}

@mixin boxA() {
  border-radius:3px;
  border:2px solid rgba(255,255,255,.1);
  background:rgba(0,0,0,.2);
}
@mixin boxB() {
  border-radius:3px;
  border:2px solid rgba(255,255,255,.1);
  background:rgba(0,0,0,1);
}

$white: #f5f5f5;
$black: #242222;
$blackB: rgba(0,0,0, .9);
$gray: #a3a3a3;
$grayB: rgba(255,255,255,.3);
$grayC: rgba(255,255,255,.1);
$blueA: rgba(22, 18, 29, 1);
$blueB: rgb(1, 121, 190);
$blueC: #445ef1;
$rustRed: rgb(207, 18, 18);
$rustYellow: rgb(241, 220, 23);
$rustBlue: rgb(13, 126, 192);

//PEN COLORS
$penRed: #dd1919;
$penWhite: #ffffff;
$penBlue: #301283;
$penYellow: #f3ff44;
$penGreen: #00e913;
 
$headerHeight: 80px;
$avatarSize: 50px;
$addedPlayerXS: 10px;
$addedPlayerModal: 30px;

$cc: translate(-50%,-50%);