@import "./mixins";

//MAKER VARS
$pagePadding: 10px;
$pageCellPadding: $pagePadding - 15px;
$mainHeight: 85vh;
$menuMarBt: 10px;
$fieldSize: 75%;

@keyframes fadeIn { 
  from { opacity:0; }
  to { opacity: 1; }
}


.playMaker {
  * {touch-action: none;}
  @include size(95vw, 100%);
  @include flx(row, nowrap, top, stretch, 10px);
  margin:10px auto 0px;
  box-sizing:border-box;
  section {
    flex:1;
    @include flx(column, nowrap, stretch, start, $pagePadding);
    &.b {
      $h: 700px;
      min-height:$h;
      max-height:$h;
    }
    &.toolShed {
      flex:1;
      max-width:320px;
      height:auto;
      .under {
        padding:20px;
        @include boxA();
      }
      .makerHeader {
        $h:55px;
        width:100%;
        height:$h;
        padding:10px 0px;
        @include boxA();
        @include flx(row,wrap,center,start,10px);
        @include font($head, $white, 20px, bold, .02em, 20px, normal, none, none, left);
        .iconBox {
          flex:1;
          max-width:$h;
          height:100%;
          text-align:center;
          @include flx(row,wrap,center,center,0px);
          img {
            height:80%;
            margin:auto;
          }
        }
        
      }
    }
    &.a, &.c {
      max-width:330px;
    } 
    &.d {
      display:none;
    }

    .block {
      flex:1;
      @include boxA();
      position:relative;
      
      &.active {
        flex:1;
        max-height:80%;

        height:auto;
        .makerHeader {
          width:100%;
          padding:10px;
          
          @include flx(row, nowrap, center, center, 5px);
          @include font($head, $white, 18px, 500, .02em, 20px, normal, uppercase, none, left);
          display:none;
        }
      }
      &.smallIcon {
        .makerHeader {
          .iconBox {
            img {
              width:35px;
            }
          }
        }
      }
      
      .pc {
        @include pos(absolute, $bottom: 5px, $left: 5px);
        @include font($par, $white, 13px, 600, .01em, 20px, normal, none, none, left);
        span {
          color:$penGreen;
        }
      }

      .messaging {
        @include pos(absolute, 0px, 0px);
        width:100%;
        height:100%;
        background:rgba(0,0,0,.8);
        @include flx(row, nowrap, center, center, 0px);
        @include font($head, $white, 25px, 300, .01em, 20px, normal, none, none, center);
        z-index:99999;
        .makerHeader {
          width:550px;
          height:300px;
          @include flx(column, nowrap, center, center, 20px);
          .iconBox {
            width:90px;
            height:90px;
            img {
              width:100%;
            }
          }
        }
        ul {
          li {
            @include font($head, $white, 25px, 300, .01em, 20px, normal, none, none, left);
            margin:5px;
          }
        }
      }   
      &.topBar {
        flex: 0 0 50px;
        @include flx(row, nowrap, stretch, start, $pagePadding);
        background:none;
        border:none;
        border-radius:0px;
        inset: clear;
        button {
          flex:1;
          @include boxA();
          @include font($head, $white, 16px, 400, .02em, 20px, normal, uppercase, none, center);
          &.clearBt {
            max-width:130px;
          }
          &.active {
            background:rgba(255,255,255,.5);
          }
          &.color {
            background:$blueB;
          }
        }
      }
      .sectional {
        height:0px;
        overflow:hidden;
        padding:0px;
        &.active {
          height:100%;
          padding:15px;
        }
        textarea {
          resize: vertical;
          min-height:100px;
        }
        // .pens, .colors {
        //   width:100%;
        //   height:auto;
        //   @include flx(row, wrap, center, center, 10px);
        //   margin-bottom:10px;
        //   h4 {
        //     flex: 0 0 100%;
        //     @include font($head, $white, 15px, 400, .0px, 20px, normal, uppercase, none, left);
        //   }
        //   .posCont {
        //     flex:1;
        //     height:40px;
        //     button {
        //       width:100%;
        //       height:100%;
        //       border:2px solid $white;
        //       &.active {
        //         outline:1px solid rgba(255,255,255,.3);
        //         outline-offset:2px;
        //       }
        //       &.white, &.red, &.blue, &.yellow {border:2px solid transparent;}
        //       &.white { background:$penWhite; }
        //       &.red { background:$penRed; }
        //       &.blue { background:$penBlue; }
        //       &.yellow { background:$penYellow; }
        //       &.gray { background:$penGray; }
        //       img {
        //         height:50%;
        //       }
        //     }
        //   }
        // }
      }
      .positionContainer {
        @include flx(row, wrap, left, center, 20px);
        order:2;
        .posCont {
          width:50px;
          height:50px;
          .pos {
            @include font($head, $white, 20px, 400, 0px, 20px, normal, uppercase, none, center);
            width:100%;
            height:100%;
            border-radius:50%;
            border:2px solid $white;
          }
        }
      }
      .makerHeader {
        padding:0px;
        @include flx(row, nowrap, center, center, 10px);
        @include font($head, $white, 18px, 500, .02em, 20px, normal, uppercase, none, center);
        width:100%;
        height:100%;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        .iconBox {
          width:30px;
          height:30px;
          position:relative;
          img {
            width:40%;
            max-width:40px;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
          }
        }
      }
    }
  }
}


@media only screen and (max-width:1000px) {
  .playMaker {
    @include flx(column, nowrap, left, start, 10px);
    section {
      &.toolShed {
        flex:1;
        max-width:100%;
        height:55px;
        @include flx(row, wrap, stretch, center, $pagePadding);
        .under {
          order:2;
          flex:0 0 100%;
          padding:20px;
          width:100%;
          @include boxA();
        }
        .makerHeader {
          $h:55px;
          order:1;
          flex:1;
          height:$h;
          span {
            display:none;
          }
          .iconBox {
            flex:1;
            max-width:100%;
            height:100%;
            text-align:center;
            @include flx(row,wrap,center,center,0px);
            img {
              height:80%;
              margin:auto;
            }
          }
          
        }
      }
      &.b {
        min-height:350px;
        max-height:350px;
        height:350px;
      }
    }
  }
}

$player-sizes: (
  300:  (size: 15px, color: pink),
  550:  (size: 31px, color: green),
  1200: (size: 35px, color: red),
  2000: (size: 40px, color: purple)
);

@each $bp, $props in $player-sizes {
  @media screen and (min-width: #{$bp}px) {
    .playMaker section .block .field .positionBox .player {
      @include size(map-get($props, size), map-get($props, size));
      // transition: all .1s;
    }
  }
}

@media screen and (max-width: 600px) {
  .playMaker section .block .field .positionBox .player {
    background:rgba(255,255,255,.7);
    &:before {
      display:none;
    }
  }
}


//FIELD
.field {
  @include pos(absolute, 0px, 0px);
  width:100%;
  height:100%;
  .canvas, .positionBox, .gridBox {
    width:100%;
    height:100%;
    @include pos(absolute, 0px, 0px);
  } 
  .canvas {
    z-index:2;
    touch-action: none;
  }
  .gridBox {
    z-index:0;
    @include flx(row, nowrap, center, center, 0px);
    .lineOfScrimmage {
      @include pos(absolute, 65%);
      @include size(100%, 10px);
      @include back(transparent, '@/assets/maker/line.png', contain, center -5px, repeat-x);
    }
    .gridLine {
      flex:1;
      height:100%;
      border-right:1px dashed rgba(255,255,255,.4);
      &:last-child {
        border-right:none;
      }
    }
  }
  .positionBox {
    flex:1;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    .player {
      $w:20px;
      @include size($w, $w);
      @include backColor(rgb(54, 54, 54));
      @include font($spec, transparent, 20px, bold);
      @include pos(absolute, $trans: translate(-50%, -50%));
      @include flex(flex, wrap, nowrap, center, center);
      border:2px solid rgba(231, 231, 231, 0.5);
      box-shadow:0 5px 5px rgba(0,0,0,.5);
      border-radius:50%;
      z-index:8000;
      cursor: grab;
      transition: border .5s;
      &.color {
        transition: border .5s;
        box-shadow:0 5px 5px rgba(0,0,0,0);
        border:3px solid rgba(231, 231, 231, .2);
        &.c { background:rgb(7, 232, 248); }
        &.g { background:rgb(7, 232, 248); }
        &.t { background:rgb(7, 232, 248); }
        &.qb { background:rgb(240, 4, 4); }
        &.rb { background:rgb(201, 240, 28); }
        &.fb { background:rgb(238, 236, 152); }
        &.tb { background:rgb(233, 179, 1); }
        &.te { background:rgb(5, 175, 27); }
        &.sl { background:rgb(223, 172, 4); }
        &.wr { background:rgb(8, 43, 138); }
        &.c, &.g, &.t, &.rb, &.tb {
          &:before {
            color:$black;
          }
        }
      }
      &.remove {
        &:before, &:after {
          @include backColor(rgb(143, 142, 142));
          color:$black;
          transition:all .5s;
        }
      }
      &:before {
        content:attr(myText);
        @include size(100%, 100%);
        @include pos(absolute, 51%, 50%, $trans:translate(-50%,-50%) );
        @include backColor(transparent);
        @include flex(flex, row, nowrap, center, center);
        @include font($head, $white, 11px, 100, .05em, 15px,  normal, uppercase,  none,  center );
        border-radius:50%;
        z-index:1;
        transition:all .5s;
      }
    }
  }
}


.positionContainer {
  @include flx(row, wrap, left, center, 20px);
  @include boxA();
  padding:20px;
  order:2;
  .posCont {
    width:50px;
    height:50px;
    .pos {
      @include font($head, $white, 20px, 400, 0px, 20px, normal, uppercase, none, center);
      width:100%;
      height:100%;
      border-radius:50%;
      border:2px solid $white;
    }
  }
}

.pens, .colors {
    width:100%;
    height:auto;
    @include flx(row, wrap, center, center, 10px);
    margin-bottom:10px;
    h4 {
      flex: 0 0 100%;
      @include font($head, $white, 15px, 400, .0px, 20px, normal, uppercase, none, left);
    }
    .posCont {
      flex:1;
      height:40px;
      button {
        width:100%;
        height:100%;
        border:2px solid $white;
        &.active {
          outline:1px solid rgba(255,255,255,.3);
          outline-offset:2px;
        }
        &.white, &.red, &.blue, &.yellow {border:2px solid transparent;}
        &.white { background:$penWhite; }
        &.red { background:$penRed; }
        &.blue { background:$penBlue; }
        &.yellow { background:$penYellow; }
        &.gray { background:$penGray; }
        img {
          height:50%;
        }
      }
    }
  }