@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.roster {
  width: 95vw;
  height: 100%;
  min-width: 0;
  max-width: auto;
  min-height: auto;
  max-height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: top;
  justify-content: stretch;
  gap: 10px;
  margin: 10px auto 0px;
  box-sizing: border-box;
}
.roster section {
  flex: 1;
  height: 100%;
}
.roster section:nth-child(1) {
  max-width: 450px;
  margin-bottom: 0px;
}
.roster section:nth-child(1) form {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 20px 50px;
  margin-bottom: 10px;
}
.roster section:nth-child(1) .playerCount {
  height: 250px;
  padding: 0px;
}
.roster section:nth-child(1) .playerCount p {
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.2);
  color: #f5f5f5;
  font-family: "Fjalla One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none;
  text-align: center;
  padding: 10px 0px;
}
.roster section:nth-child(2) {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding-bottom: 100px;
}
.roster section .player {
  height: 60px;
  width: 100%;
  padding: 0px 0px;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.roster section .player h2, .roster section .player h4, .roster section .player h5 {
  height: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.roster section .player h2 {
  width: 70px;
  margin: 0px 0px;
  color: #242222;
  font-family: "Fjalla One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none;
  text-align: center;
  background-image: url("@/assets/icons/ico_jersey.svg");
  background-position: center center;
  background-size: 80% 80%;
  background-repeat: no-repeat;
}
.roster section .player .mid {
  flex: 0 0 auto;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
.roster section .player .mid h3 {
  color: #f5f5f5;
  font-family: "Fjalla One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: none;
  text-shadow: none;
  text-align: left;
}
.roster section .player .mid p {
  color: #a3a3a3;
  font-family: "Fjalla One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none;
  text-align: left;
}
.roster section .player .grade {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.roster section .player .grade h4 {
  width: 50px;
  height: 50px;
  min-width: 0;
  max-width: auto;
  min-height: auto;
  max-height: auto;
  color: #f5f5f5;
  font-family: "Fjalla One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0px;
  background: rgba(42, 151, 20, 0.438);
  border: 2px solid rgba(42, 151, 20, 0.8);
  border-radius: 6px;
}
.roster section .player .delete {
  width: 200px;
  height: 100%;
  min-width: 0;
  max-width: auto;
  min-height: auto;
  max-height: auto;
  position: absolute;
  top: 50%;
  left: none;
  bottom: none;
  right: 0px;
  transform: translate(0%, -50%);
  color: #f5f5f5;
  font-family: "Fjalla One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: none;
  text-align: center;
  background: rgba(42, 151, 20, 0.5);
  background: rgb(1, 121, 190);
  padding: 10px 22px;
}
.roster section .player .delete.inactive {
  display: none;
}
.roster section .player .delete:hover {
  background: rgba(8, 120, 139, 0.8);
}
.roster section .player .delete.a {
  background: white;
}
.roster section .player .areYouSure {
  width: 310px;
  height: 100%;
  min-width: 0;
  max-width: auto;
  min-height: auto;
  max-height: auto;
  position: absolute;
  top: 50%;
  left: none;
  bottom: none;
  right: 0px;
  transform: translate(0%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: stretch;
  gap: 10px;
}
.roster section .player .areYouSure button {
  flex: 1;
  height: 100%;
  color: #f5f5f5;
  font-family: "Fjalla One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: none;
  text-align: center;
  padding: 10px 12px;
}
.roster section .player .areYouSure button.b, .roster section .player .areYouSure button.c {
  background: rgba(156, 156, 156, 0.5);
  max-width: 55px;
}
.roster section .player .areYouSure button.b:hover, .roster section .player .areYouSure button.c:hover {
  background: rgba(121, 121, 120, 0.8);
}

@media screen and (max-width: 800px) {
  .roster {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .roster section {
    width: 100%;
  }
  .roster section:nth-child(2) {
    max-width: 95%;
    padding: 0px 0px 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
  }
  .roster section:nth-child(2) .player {
    flex: 1;
    width: 30%;
    height: auto;
    padding: 0px 0px;
    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
  .roster section:nth-child(2) .player h2 {
    min-width: 70px;
    height: 70px;
  }
  .roster section:nth-child(2) .player .mid {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    justify-content: start;
    gap: 5px;
  }
  .roster section:nth-child(2) .player .mid h3 {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  .roster section:nth-child(2) .player .mid p {
    text-align: center;
    width: 100%;
    font-size: 15px;
  }
  .roster section:nth-child(2) .player .delete {
    width: 100%;
    height: 30px;
    min-width: 0;
    max-width: auto;
    min-height: auto;
    max-height: auto;
    position: relative;
    top: 0%;
    left: none;
    bottom: none;
    right: 0px;
    transform: translate(0%, 0%);
    color: #f5f5f5;
    font-family: "Fjalla One", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .roster section:nth-child(2) .player .delete.inactive {
    display: none;
  }
  .roster section:nth-child(2) .player .areYouSure {
    width: 100%;
    height: 30px;
    min-width: 0;
    max-width: auto;
    min-height: auto;
    max-height: auto;
    position: relative;
    top: 0%;
    left: none;
    bottom: none;
    right: 0px;
    transform: translate(0%, 0%);
  }
  .roster section:nth-child(2) .player .areYouSure button {
    flex: 1;
    height: 100%;
    color: #f5f5f5;
    font-family: "Fjalla One", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;
    padding: 10px 12px;
  }
  .roster section:nth-child(2) .player .areYouSure button.a {
    text-align: right;
    max-width: 100px;
  }
  .roster section:nth-child(2) .player .areYouSure button.b, .roster section:nth-child(2) .player .areYouSure button.c {
    background: rgba(156, 156, 156, 0.5);
    max-width: 45px;
  }
  .roster section:nth-child(2) .player .areYouSure button.b:hover, .roster section:nth-child(2) .player .areYouSure button.c:hover {
    background: rgba(121, 121, 120, 0.8);
  }
}/*# sourceMappingURL=teamRoster.css.map */